<page title="Tesseramento FSI 2026">
  <p>
    Tramite il nostro circolo ci si può tesserare presso la Federazione Scacchistica Italiana per
    poter partecipare ai tornei validi per le variazioni di punteggio Elo e le promozioni di categoria.
    Il tesseramento ha una validità di tredici mesi, dal 1º dicembre 2025 al 31 dicembre 2026, e consente
    di disputare i tornei che si tengono in tale periodo. Esistono vari tipi di tesseramento, a
    seconda dell'età del giocatore e del tipo di tornei cui esso consente di partecipare.
    <a href="https://www.federscacchi.it/doc_vari/MNOR_Normativa.pdf">Normativa FSI</a>.
  </p>

  <h3>Tessere Giocatori</h3>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Tessera FSI</th>
        <th>Costo</th>
        <th>Descrizione</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Agonistica (TA)</td>
          <td>48 €</td>
          <td>Per chiunque sia nato prima del 2003</td>
        </tr>
        <tr>
          <td>Agonistica Ridotta (TU)</td>
          <td>28 €</td>
          <td>Per chiunque sia nato tra il 2003 e il 2007</td>
        </tr>
        <tr>
          <td>Ordinaria (TO)</td>
          <td>28 €</td>
          <td>Per chiunque sia nato prima del 2008</td>
        </tr>
        <tr>
          <td>Integrazione Ordinaria -> Agonistica (IT)</td>
          <td>28 €</td>
          <td>Per chiunque sia in possesso di Tessera Ordinaria e voglia trasformarla in Tessera Agonistica</td>
        </tr>
        <tr>
          <td>Ordinaria Ridotta (TR)</td>
          <td>14 €</td>
          <td>Per chiunque sia nato prima del 2008 e non sia mai stato tesserato per la FSI</td>
        </tr>
        <tr>
          <td>Agonistica per Detenuti (TD)</td>
          <td>14 €</td>
          <td>Per chiunque sia nato prima del 2008 e sia Detenuto presso un istituto di pena</td>
        </tr>
        <tr>
          <td>Junior (TJ)</td>
          <td>10 €</td>
          <td>Per chiunque sia di categoria NC già tesserato in precedenza con la FSI e nato dopo il 2007</td>
        </tr>
        <tr>
          <td>Junior Ridotta (TG)</td>
          <td>3 €</td>
          <td>Per chiunque sia di categoria NC mai tesserato in precedenza con la FSI e nato dopo il 2007</td>
        </tr>
        <tr>
          <td>Junior Agonistica (TT)</td>
          <td>20 €</td>
          <td>Per chiunque sia di categoria superiore a NC FSI e nato dopo il 2007</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Associazione al Circolo per il 2025</h2>
  <p>Quota associativa annuale minima: <b>20 euro</b></p>

  <h2>Pagamenti</h2>
  <ul>
    <li>IBAN: <code>IT96X0359901899052328508217</code></li>
    <li>Beneficiario: <b>A.D. Circolo Scacchistico La Torre</b></li>
  </ul>
</page>
