<page title="Tesseramento FSI 2025">
  <p>
    Tramite il nostro circolo ci si può tesserare presso la Federazione Scacchistica Italiana per
    poter partecipare ai tornei validi per le variazioni di punteggio Elo e le promozioni di categoria.
    Il tesseramento ha una validità di tredici mesi, dal 1º dicembre 2024 al 31 dicembre 2025, e consente
    di disputare i tornei che si tengono in tale periodo. Esistono vari tipi di tesseramento, a
    seconda dell'età del giocatore e del tipo di tornei cui esso consente di partecipare.
    <a href="https://www.federscacchi.it/doc_vari/MNOR_Normativa.pdf">Normativa FSI</a>.
  </p>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Tessera FSI</th>
        <th>Costo</th>
        <th>Descrizione</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Tessera Agonistica (TA)</td>
        <td>48 €</td>
        <td>Per ogni tipo di torneo.</td>
      </tr>
      <tr>
        <td>Tessera Ordinaria (TO)</td>
        <td>28 €</td>
        <td>Per tornei lampo (fino a 10'), di gioco rapido (fra i 10' e i 60') e CIS promozione.</td>
      </tr>
      <tr>
        <td>Tessera Ordinaria Ridotta (TR)</td>
        <td>14 €</td>
        <td>Riservata a chi sia al suo primo tesseramento FSI, ha la medesima validità della TO.</td>
      </tr>
      <tr>
        <td>Tessera Junior (TJ)</td>
        <td>10 €</td>
        <td>Riservata ai nati dopo il 2006 di categoria NC e già tesserati in passato, dà gli stessi diritti di una TA.</td>
      </tr>
      <tr>
        <td>Tessera Junior Ridotta (TG)</td>
        <td>3 €</td>
        <td>Riservata ai nati dopo il 2006 di categoria NC e al loro primo tesseramento, dà gli stessi diritti di una TA.</td>
      </tr>
      <tr>
        <td>Tessera Junior Agonistica (TT)	</td>
        <td>20 €</td>
        <td>Riservata ai nati dopo il 2006 di categoria superiore a NC, dà gli stessi diritti di una TA..</td>
      </tr>
      </tbody>
    </table>
  </div>

  <h2>Associazione al Circolo per il 2025</h2>
  <p>Quota associativa annuale minima: <b>20 euro</b></p>

  <h2>Pagamenti</h2>
  <ul>
    <li>IBAN: <code>IT96X0359901899052328508217</code></li>
    <li>Beneficiario: <b>A.D. Circolo Scacchistico La Torre</b></li>
  </ul>
</page>
