DISPLAY_ERROR_DETAILS=false"
PROJECT_ROOT="/var/www"
PRODUCTION="false"

# Auth
JWT_SECRET="my-secret"
JWT_TTL="60"
JWT_REFRESH_TTL="300"
JWT_ISSUER="http://localhost:8080"
COOKIE_RT_NAME="rt"

# Logging
LOG_ERRORS="false"
LOG_ERROR_DETAILS="false"
LOGGER_NAME="my-app"
LOGGER_PATH="/the/path/to/logs"
LOGGER_LEVEL="INFO"

# Database
BB_HOST="localhost"
DB_NAME="my-app"
DB_PORT="3306"
DB_USER="root"
DB_PASS="password"
