<div class="article-content">
  @switch (imageCount) {
    @case (1) {
      @for (part of contentParts; track part) {
        @if (part.type === 'text') {
          <div [innerHTML]="part.value"></div>
        }
        @if (part.type === 'image' && part.imageAttributes) {
          <div
            style="display: flex; justify-content: center; margin: 1rem 0;">
            <p-image
              [src]="part.imageAttributes.src"
              alt="Article Image"
              [preview]="true"
              [imageStyle]="{ 'width': '100%', 'height': 'auto', 'cursor': 'pointer' }">
            </p-image>
          </div>
        }
      }
    }

    @default {
      <ng-container>
        @if (imageCount > 1) {
          <p-galleria
            [value]="imagesForGalleria"
            [circular]="true"
            [autoPlay]="true"
            [transitionInterval]="4000"
            [showItemNavigators]="false"
            [showThumbnails]="true"
            [containerStyle]="{ 'max-width': '800px', 'max-height': '500px', 'margin': '1rem auto' }"
            >
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.itemImageSrc"
                [alt]="item.alt"
                style="width: 100%; display: block;"
                />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="p-galleria-thumbnail-content">
                <img
                  [src]="item.thumbnailImageSrc"
                  [alt]="item.alt"
                  style="max-width: 100px; display: block;"
                  />
              </div>
            </ng-template>
          </p-galleria>
        }

        @for (part of contentParts; track part) {
          @if (part.type === 'text') {
            <div [innerHTML]="part.value"></div>
          }
        }
      </ng-container>
    }
  }
</div>
