<page title="Admin - Crea nuovo articolo">
  <form [formGroup]="articleForm">
    <div class="bottom-margin">
      <label for="title">Titolo</label>
      <input
        id="title"
        pInputText
        formControlName="title"
        [value]="targetArticle?.title"
        type="text"
        class=""
      />
    </div>
    <div class="bottom-margin">
      <label for="title">Contenuto</label>
      <small>
        Se inserisci una sola immagine, verrà centrata e resa responsiva, altrimenti verrà
        visualizzata una galleria di immagini. Le immagini vengono sempre messe in cima al post.<br/>
        Utilizza immagini della stessa dimensione
      </small>
      <p-editor
        #editor
        (onInit)="onEditorInit($event)"
        id="content"
        formControlName="content"
        [style]="{ height: '320px' }"
      >
        <ng-template #header>
          <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Grassetto"></button>
              <button type="button" class="ql-italic" aria-label="Corsivo"></button>
              <button type="button" class="ql-underline" aria-label="Sottolineato"></button>
              <button type="button" class="ql-link" aria-label="Link"></button>
              <button type="button" class="ql-image" aria-label="Image"></button>
          </span>
        </ng-template>
      </p-editor>
    </div>

    <div class="bottom-margin">
      <label for="tags">Tags</label>
      <p-autoComplete
        id="tags"
        formControlName="tags"
        [suggestions]="tagSuggestions"
        (completeMethod)="searchTags($event)"
        optionLabel="name"
        [multiple]="true"
        [dropdown]="true"
        [forceSelection]="true"
        placeholder="Cerca e scegli un tag (opzionale)"
        [style]="{ 'width': '100%' }"
      >
      </p-autoComplete>
      <small>Puoi selezionare solo tag esistenti.</small>
    </div>

    <div>
      <label for="categories">Categorie</label>
      <p-autoComplete
        id="categories"
        formControlName="categories"
        [suggestions]="categorySuggestions"
        (completeMethod)="searchCategories($event)"
        optionLabel="name"
        [multiple]="true"
        [dropdown]="true"
        [forceSelection]="true"
        placeholder="Cerca e scegli una categoria (opzionale)"
        [style]="{ 'width': '100%' }"
      >
      </p-autoComplete>
      <small class="field-2">Puoi selezionare solo categorie esistenti.</small>
    </div>
  </form>

  <div class="save-btn">
    <p-button
      size="small"
      label="Pubblica"
      severity="primary"
      raised
      (click)="saveArticle()" [disabled]="!articleForm.valid"
    />
  </div>

  @if (error) {
    <p-message
      severity="error"
      icon="fa-solid fa-circle-exclamation"
      [text]=this.errorMessage>
    </p-message>
  }

  <p-dialog
    [formGroup]="uploadImageForm"
    header="Carica immagine"
    [modal]="true"
    [(visible)]="isDialogVisible"
    [style]="{ width: '25rem' }"
  >
    <div class="bottom-2">
      <input
        #fu
        type="file"
        (change)="onUpload($event)"
      >
<!--      <label for="width">Larghezza</label>-->
<!--      <input-->
<!--        formControlName="width"-->
<!--        pInputText-->
<!--        id="width"-->
<!--        class="flex-auto"-->
<!--      />-->

<!--      <label for="height">Altezza</label>-->
<!--      <input-->
<!--        formControlName="height"-->
<!--        pInputText-->
<!--        id="height"-->
<!--        class="flex-auto"-->
<!--      />-->
    </div>
    <div class="row aln-right">
      <p-button
        size="small"
        label="Annulla"
        severity="secondary"
        (click)="isDialogVisible = false"
        raised
      />
      <p-button
        size="small"
        label="Save"
        severity="primary"
        (onClick)="insertImage()"
        [disabled]="!uploadImageForm.valid"
        [loading]="loadingResponse"
        raised
      />
    </div>
  </p-dialog>
</page>
