<page title="Admin - Crea nuovo articolo">
  <form [formGroup]="articleForm">
    <div class="automcomplete">
      <label for="title">Titolo</label>
      <input
        id="title"
        pInputText
        formControlName="title"
        [value]="targetArticle?.title"
        type="text"
        class=""
      />
    </div>
    <div class="automcomplete">
      <label for="content">Contenuto</label>
      <p-editor
        id="content"
        class=""
        formControlName="content"
        [style]="{ height: '320px' }"
      />
    </div>

    <div class="automcomplete">
      <label for="tags">Tags</label>
      <p-autoComplete
        id="tags"
        formControlName="tags"
        [suggestions]="tagSuggestions"
        (completeMethod)="searchTags($event)"
        optionLabel="name"
        [multiple]="true"
        [dropdown]="true"
        [forceSelection]="true"
        placeholder="Cerca e scegli un tag (opzionale)"
        [style]="{ 'width': '100%' }"
      >
      </p-autoComplete>
      <small>Puoi selezionare solo tag esistenti.</small>
    </div>

    <div>
      <label for="categories">Categorie</label>
      <p-autoComplete
        id="categories"
        formControlName="categories"
        [suggestions]="categorySuggestions"
        (completeMethod)="searchCategories($event)"
        optionLabel="name"
        [multiple]="true"
        [dropdown]="true"
        [forceSelection]="true"
        placeholder="Cerca e scegli una categoria (opzionale)"
        [style]="{ 'width': '100%' }"
      >
      </p-autoComplete>
      <small class="field-2">Puoi selezionare solo categorie esistenti.</small>
    </div>
  </form>

  <div class="save-btn">
    <p-button
      size="small"
      label="Pubblica"
      severity="primary"
      raised
      (click)="saveArticle()" [disabled]="!articleForm.valid"
    />
  </div>
</page>
