<page title="Notizie">
    <h3>{{ article!.title }}</h3>
    <small>{{ article!.created_at | date:'dd MMMM yyyy'}}</small>
    <chess-article-viewer
      [content]="article!.content"
    >
    </chess-article-viewer>
    @for (tag of article!.tags; track tag.id) {
      <p-tag
        [value]="'#' + tag.name" class="tag"
        [routerLink]="['/notizie', 'tags', tag.slug]"
      >
      </p-tag>
    }

    @for (category of article!.categories; track category.id) {
      <p-tag
        [value]="'#' + category.name" class="tag"
        [routerLink]="['/notizie', 'categoria', category.slug]"
      >
      </p-tag>
    }
</page>

