<page title="Notizie">
  @for (article of articles; track article.id) {
    <h3>{{ article.title }}</h3>
    <small>{{ article.created_at }}</small>
    <chess-article-viewer
      [content]="article.content"
    >
    </chess-article-viewer>
    @for (tag of article.tags; track tag.id) {
      <p-tag
        [value]="'#' + tag.name" class="tag"
        (click)="onTagClick(tag, 'tag_id')"
      >
      </p-tag>
    }

    @for (category of article.categories; track category.id) {
      <p-tag
        [value]="'#' + category.name" class="tag"
        (click)="onTagClick(category, 'category_id')"
      >
      </p-tag>
    }
    <hr class="major" />
  }
  @if (articles.length === 0) {
    <p>Nessuna notizia trovata per i parametri di ricerca specificati</p>
  }
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [totalRecords]="totalCount"
    [rows]="pageSize"
    [first]="offset"
    [alwaysShow]="false"
    [showPageLinks]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{totalRecords} notizie"
  >
  </p-paginator>
</page>

