# Common options
SKIP_DEPENDENCIES=false

# FTP credentials
FTP_USER=user
FTP_PASS=pass
FTP_HOST=host
FTP_PORT=666
FTP_REMOTE_PATH=/hello
LOCAL_DUMP_PATH=/here

# Deployment
LOCAL_DEPLOY_PATH=/dir

# Local DB
LOCAL_DB_HOST=localhost
LOCAL_DB_NAME=db
LOCAL_DB_USER=user
LOCAL_DB_PASS=pass
