<!-- Section -->
<page title="Attività">
  <div class="features">
    <article>
      <span class="icon fa-solid fa-chess-bishop"></span>
      <div class="content">
        <h3>Corsi in sede</h3>
        <p>Si organizzano corsi di vario livello per adulti e bambini</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-solid fa-chess-rook"></span>
      <div class="content">
        <h3>Corsi nelle scuole</h3>
        <p>Sei un insegnante e vorresti introdurre gli scacchi ai tuoi alunni o proporre un corso di
          approfondimento? Scrivici, saremo felici di aiutarti!</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-solid fa-chess-king"></span>
      <div class="content">
        <h3>Biblioteca del club</h3>
        <p>Tutti libri di scacchi a disposizione dei soci gratuitamente</p>
      </div>
    </article>
    <article>
      <span class="icon solid fa-solid fa-chess-queen"></span>
      <div class="content">
        <h3>Newsletter</h3>
        <p>
          Resta aggiornato sulle nostre attività mandando un'email a
          <a href="mailto:scacchi-la-torre-pisa+subscribe@googlegroups.com">
            scacchi-la-torre-pisa+subscribe&#64;googlegroups.com
          </a>
        </p>
      </div>
    </article>
  </div>
</page>
