@if (tagCloudItems.length > 0) {
  <sidebar-item title="Notizie per tag">
    <div class="mini-posts">
      <article>
        <ul class="cloud" role="listbox" aria-label="Tag cloud">
          @for(tagCloudItem of tagCloudItems; track tagCloudItem.tag_id) {
            <li>
              <p-overlaybadge [value]="tagCloudItem.total_count" badgeSize="small">
                <a
                  [attr.data-weight]="tagCloudItem.weight"
                [href]="'/notizie?tag_id=' + tagCloudItem.tag_id"
              >
                {{ tagCloudItem.name }}
              </a>
            </p-overlaybadge>
          </li>
        }
      </ul>
    </article>
  </div>
</sidebar-item>
}
@if (categoryStatsItems.length > 0) {
<sidebar-item title="Notizie per categorie">
  <div class="mini-posts">
    <article>
      <ul class="alt">
        @for(catItem of categoryStatsItems; track catItem.category_id) {
          <li>
            <a [href]="'/notizie?category_id=' + catItem.category_id">
              {{ catItem.name }}
            </a>
            <p-badge [value]="catItem.total_count" severity="warn" />
          </li>
        }
      </ul>
    </article>
  </div>
</sidebar-item>
}
<sidebar-item title="Puzzle del giorno">
  <div class="mini-posts">
    <article class="puzzle">
      <iframe
        src="https://lichess.org/training/frame?theme=brown&bg=dark"
        style="width: 100%; height: 100%; aspect-ratio: 10/11;" allowtransparency="true" frameborder="0"
      >
      </iframe>
    </article>
    <!--        <article>-->
    <!--            <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>-->
    <!--            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
    <!--        </article>-->
    <!--        <article>-->
    <!--            <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>-->
    <!--            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>-->
    <!--        </article>-->
  </div>
  <!--    <ul class="actions">-->
  <!--        <li><a href="#" class="button">More</a></li>-->
  <!--    </ul>-->
</sidebar-item>
