<page title="Admin - Gestione tags">
  <p-table #dt
    dataKey="code"
    stripedRows
    sortField="name"
    [scrollable]="true"
    scrollHeight="450px"
    [sortOrder]="sortOrder"
    [globalFilterFields]="['name']"
    [value]="tags"
  >
    <ng-template pTemplate="caption">
      <div class="row reverse">
        <p-iconfield iconPosition="left" class="ml-2">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Trova tag"
          />
        </p-iconfield>
        <p-button
          size="small"
          label="Crea nuovo tag"
          severity="primary"
          raised
          (click)="onCreateTag()"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header" >
      <tr>
        <th>ID</th>
        <th pSortableColumn="name">
          Nome
          <p-sortIcon field="name" />
        </th>
        <th>Creato il</th>
        <th style="width: 12rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tag>
      <tr>
        <td>{{ tag.id }}</td>
        <td>{{ tag.name }}</td>
        <td>{{ tag.created_at }}</td>
        <td>
          <div class="row aln-center aln-middle" style="margin-left: 5px">
            <p-button
              pTooltip="Modifica"
              tooltipPosition="top"
              raised
              icon="pi pi-pencil"
              (click)="onModifyItem(tag)"
              severity="secondary"
              rounded
            />
            <p-button
              pTooltip="Cancella"
              tooltipPosition="top"
              raised
              icon="pi pi-trash"
              (click)="onDeleteItem(tag)"
              severity="secondary"
              rounded
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Nessun tag trovato.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-divider align="center" type="dashed">
    Tag trovati: {{ tags.length }}
  </p-divider>

  <p-dialog
    [formGroup]="tagForm"
    [header]="dialogHeader"
    [modal]="true"
    [(visible)]="isDialogVisible"
    [style]="{ width: '25rem' }"
  >
    <div class="bottom-2">
      <label for="name">Nome</label>
      <input
        formControlName="name"
        pInputText
        id="name"
        class="flex-auto"
        [value]="targetTag?.name"
        autocomplete="off"
      />
      @if (hasFormErrors() || hasServerError()) {
        <p-message
          icon="pi pi-exclamation-circle"
          severity="error"
          size="small"
          class="mt-2"
          variant="simple"
        >
          @if (hasFormErrors()) {
            @if (name?.hasError('required')) {
              Bisogna specificare un nome
            } @else if (name?.hasError('noWhiteSpaceOnly')) {
              Il nome non può contenere solo spazi
            }
          } @else {
            {{ this.errorMessage }}
          }
        </p-message>
      }
    </div>
    <div class="row aln-right">
      <p-button
        size="small"
        label="Annulla"
        severity="secondary"
        (click)="isDialogVisible = false"
        raised
      />
      <p-button
        size="small"
        label="Save"
        severity="primary"
        [disabled]="!tagForm.valid"
        (click)="targetTag?.id ? updateTag() : createTag()"
        [loading]="loadingResponse"
        raised
      />
    </div>
  </p-dialog>
  <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
  <p-confirmdialog [style]="{ 'minWidth': '350px' }">
    <ng-template pTemplate="footer">
      <p-button
        type="button"
        severity="secondary"
        icon="pi pi-times"
        size="small"
        label="Annulla"
        (click)="closeConfirmationService()"
        raised
      ></p-button>
      <p-button
        type="button"
        size="small"
        icon="pi pi-check"
        severity="primary"
        label="Si"
        (click)="deleteTag()"
        raised
      ></p-button>
    </ng-template>
  </p-confirmdialog>
</page>
