<section id="banner">
  <div class="content">
    <header>
      <h1>Circolo di scacchi di Pisa</h1>
      <p>Affiliato alla FSI</p>
    </header>
    <p>Organizziamo tornei e corsi per adulti e bambini.
      Ci ritroviamo il giovedì e il venerdì sera per serate di gioco libero, tornei sociali e attività varie. Il sabato
      teniamo i corsi per under 18.</p>
<!--    <ul class="actions">-->
<!--      <li><a href="#" class="button big">Learn More</a></li>-->
<!--    </ul>-->
  </div>
  <span class="image object">
        <img src="/images/logo.png" alt=""/>
    </span>
</section>
