<nav id="menu" class="sidebar-section">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a routerLink="/">Homepage</a></li>
    <li><a routerLink="/documenti">Documenti</a></li>
    <li><a routerLink="/tesseramento">Tesseramento 2025</a></li>
    <li><a routerLink="/notizie">Notizie</a></li>
    <li><a routerLink="/tornei">Tornei</a></li>
    <li><a routerLink="/corsi">Corsi</a></li>
    <li>
      <span class="opener">Admin</span>
      @if (isAuthenticated | async) {
        <ul>
          <li><a routerLink="/admin/articoli">Gestione articoli</a></li>
          <li><a routerLink="/admin/categorie">Gestione categorie</a></li>
          <li><a routerLink="/admin/tags">Gestione tag</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      } @else {
        <ul>
          <li><a routerLink="/login">Login</a></li>
        </ul>
      }
    </li>
  </ul>
</nav>
