<header id="header">
  <a href="/public" class="logo"><strong>A.D. Circolo Scacchistico "La Torre"</strong></a>
  <ul class="icons">
    <li>
      <a href="https://www.facebook.com/CircoloScacchisticoLaTorre" target="_blank" class="icon brands">
        <i class="fa-brands fa-square-facebook"></i>
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://lichess.org/team/circolo-scacchistico-la-torre-pisa" target="_blank" class="icon brands">
        <i class="fa-solid fa-chess-knight"></i>
        <span class="label">Lichess</span>
      </a>
    </li>
    <li>
      <a href="https://groups.google.com/u/3/g/scacchi-la-torre-pisa/about" target="_blank" class="icon brands">
        <i class="fa-brands fa-google"></i>
        <span class="label">Google Groups</span>
      </a>
    </li>
  </ul>
</header>
