<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/index.php">Homepage</a></li>
    <li><a href="/_parts/pages/documents.php">Documenti</a></li>
    <li><a href="/_parts/pages/membership.php">Tesseramento 2025</a></li>
    <li><a href="/generic.php">Notizie</a></li>
    <li><a href="/_parts/pages/tournaments.php">Tornei</a></li>
    <li><a href="/_parts/pages/courses.php">Corsi</a></li>
    <li><a href="/generic.php">Galleria</a></li>
    <li><a href="/elements.php">Elements</a></li>
    <li>
      <span class="opener">Admin</span>
      <ul>
        <li><a href="#">Gestione articoli</a></li>
        <li><a href="#">Gestione categorie</a></li>
        <li><a href="#">Gestione tag</a></li>
      </ul>
    </li>
  </ul>
</nav>
