<page title="Notizie">
  @for (article of articles; track article.id) {
    <h3>{{ article.title }}</h3>
    <small>{{ article.created_at }}</small>
    <chess-article-viewer
      [content]="article.content"
    >
    </chess-article-viewer>
    <hr class="major" />
  }
  @if (articles.length === 0) {
    <p>{{ noNewsFound() }}</p>
  }
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [totalRecords]="totalCount"
    [rows]="pageSize"
    [first]="offset"
    [alwaysShow]="false"
    [showPageLinks]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{totalRecords} notizie"
  >
  </p-paginator>
</page>

