<section>
  <header class="main major">
    <h2>Tornei conclusi</h2>
  </header>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Torneo</th>
        <th>Periodo</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="https://vesus.org/event/0FenWGLq" target="_blank">7º torneo weekend “Scacchi sotto la Torre”</a></td>
        <td>2, 3 novembre 2024</td>
      </tr>
      <tr>
        <td><a href="https://vesus.org/event/neJcpTJf" target="_blank">1º torneo round robin “Primavera Pisana”</a></td>
        <td>27, 28 aprile 2024</td>
      </tr>
      <tr>
        <td><a href="https://vesus.org/event/qlJHxc57" target="_blank">Campionato Provinciale giovanile di Pisa 2024</a></td>
        <td>10 marzo 2024</td>
      </tr>
      <tr>
        <td><a href="https://vesus.org/event/qyg-_yoT" target="_blank">Campionato Provinciale di Pisa 2024</a></td>
        <td>9, 10, 11 febbraio 2024</td>
      </tr>
      <tr>
        <td><a href="https://vesus.org/event/ZMQw4HwI" target="_blank">6º torneo weekend “Scacchi sotto la Torre”</a></td>
        <td>21, 22 ottobre 2023</td>
      </tr>
      <tr>
        <td><a href="https://vesus.org/festivals/campionato-provinciale-di-pisa-2023-e-torneo-under-1600/" target="_blank">Campionato Provinciale di Pisa 2023</a></td>
        <td>3, 4, 5 febbraio 2023</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/festivals/5ordm-torneo-weekend-scacchi-sotto-la-torre/" target="_blank">5º torneo weekend “Scacchi sotto la Torre”</a></td>
        <td>21, 22, 23 ottobre 2022</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/results/campionato-provinciale-di-pisa-campionato-provinciale-di-pisa-2020-e-torneo-under-1600/" target="_blank">Campionato provinciale di Pisa 2020</a></td>
        <td>14, 15, 16 febbraio 2020</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/festivals/campionato-interprovinciale-di-pisa-e-livorno-2019-e-torneo-under-1600/" target="_blank">Campionato interprovinciale di Pisa e Livorno 2019</a></td>
        <td>18, 19, 20 gennaio 2019</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/festivals/4ordm-torneo-weekend-scacchi-sotto-la-torre/" target="_blank">4º torneo weekend “Scacchi sotto la Torre”</a></td>
        <td>26, 27, 28 ottobre 2018</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/results/11ordm-torneo-semilampo-di-pisa/" target="_blank">11º Semilampo di Pisa</a></td>
        <td>20 maggio 2018</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/results/campionato-interprovinciale-di-pisa-e-livorno-campionato-interprovinciale-di-pisa-e-livorno-2018-e-torneo-under-1500/" target="_blank">Campionato interprovinciale di Pisa e Livorno 2018</a></td>
        <td>2, 3, 4 febbraio 2018</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/results/i-maratona-blitz-quotschianta-la-torrequot/" target="_blank">I maratona blitz "Schianta la torre"</a></td>
        <td>4 giugno 2017</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/festivals/campionato-interprovinciale-di-pisa-e-livorno-2017-e-torneo-under-1500/" target="_blank">Campionato interprovinciale di Pisa e Livorno 2017</a></td>
        <td>3, 4, 5 febbraio 2017</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/results/open-integrale-campionato-regionale-toscano-2016/" target="_blank">Campionato Regionale Toscano 2016</a></td>
        <td>23, 24, 25 aprile 2016</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/results/campionato-provinciale-di-pisa-2016/" target="_blank">Campionato Provinciale di Pisa 2016</a></td>
        <td>29, 30, 31 gennaio 2016</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/tournaments/10ordm-torneo-semilampo-di-pisa/" target="_blank">10º Semilampo di Pisa</a></td>
        <td>13 dicembre 2015</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/festivals/3ordm-torneo-weekend-scacchi-sotto-la-torre/" target="_blank">3º torneo weekend Scacchi Sotto la Torre</a></td>
        <td>20, 21, 22 marzo 2015</td>
      </tr>
      <tr>
        <td><a href="/tornei/wwwPI2015/" target="_blank">Campionato Provinciale di Pisa 2015</a></td>
        <td>30 e 31 gennaio, 1º febbraio 2015 <b>(SISTEMARE)</b></td>
      </tr>
      <tr>
        <td><a href="/tornei/SemilampoPisa2014/" target="_blank">9º Semilampo di Pisa</a></td>
        <td>14 dicembre 2014 <b>(SISTEMARE)</b></td>
      </tr>
      <tr>
        <td>Torneo promozionale alla Stazione Leopolda</td>
        <td>22 giugno 2014</td>
      </tr>
      <tr>
        <td><a href="http://vesus.org/festivals/2ordm-torneo-weekend-scacchi-sotto-la-torre/" target="_blank">2º torneo weekend Scacchi Sotto la Torre</a></td>
        <td>11, 12, 13 aprile 2014</td>
      </tr>
      <tr>
        <td><a href="/tornei/wwwPI2014/" target="_blank">Campionato Provinciale di Pisa 2014</a></td>
        <td>31 gennaio, 1º e 2 febbraio 2014 <b>(SISTEMARE)</b></td>
      </tr>
      <tr>
        <td><a href="/tornei/SemilampoPisa2013/" target="_blank">8º Semilampo di Pisa</a></td>
        <td>1º dicembre 2013 <b>(SISTEMARE)</b></td>
      </tr>
      <tr>
        <td>Torneo promozionale alla Stazione Leopolda</td>
        <td>23 febbraio 2013</td>
      </tr>
      <tr>
        <td>1º torneo weekend "Sotto la Torre" (<a href="/tornei/SottolaTorre2013/Open_A/" target="_blank">torneo A</a>, <a href="/tornei/SottolaTorre2013/Open_B/" target="_blank">torneo B</a>)</td>
        <td>15-16-17 febbraio 2013 <b>(SISTEMARE)</b></td>
      </tr>
      <tr>
        <td><a href="/tornei/SemilampoPisa2012/" target="_blank">7º Semilampo di Pisa</a></td>
        <td>2 dicembre 2012 <b>(SISTEMARE)</b></td>
      </tr>

      </tbody>
    </table>
  </div>
</section>
