<page title="Safeguarding">
  <p>L’Associazione Dilettantistica Circolo Scacchistico "La Torre" tutela e promuove il diritto di tutti i soci a essere
  trattati con rispetto e dignità contrastando ogni forma di abuso, molestia, violenza di genere e ogni altra
  condizione di discriminazione, indipendentemente da etnia, convinzioni personali, disabilità, età, identità di
  genere, orientamento sessuale, lingua, opinione politica, religione, condizione patrimoniale, di nascita, fisica,
  intellettiva, relazionale o sportiva. Tutti i soci e chiunque partecipi con qualsiasi funzione o titolo all’attività
    sociale è tenuto a rispettare i predetti diritti dei soci.</p>
  <p>Il consiglio direttivo ha nominato responsabile contro abusi, violenze e discriminazioni all'interno dell'assocazione
    il socio Francesco Piqué.<br/>
  Email per segnalazioni: <code>safeguarding.scacchilatorre&#64;gmail.com</code>
  </p>

  <h3>Documenti</h3>
  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Documento</th>
        <th>File</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Modello organizzativo e di controllo dell'attività sportiva</td>
        <td>
          <a href="/file/safeguarding/modello_organizzativo.pdf">
            <i class="fa-solid fa-file-pdf fa-lg"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Codice di condotta</td>
        <td>
          <a href="/file/safeguarding/codice_condotta.pdf">
            <i class="fa-solid fa-file-pdf fa-lg"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Linee guida FSI</td>
        <td>
          <a href="/file/safeguarding/linee_guida_FSI.pdf">
            <i class="fa-solid fa-file-word fa-lg"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Regolamento safeguarding FSI</td>
        <td>
          <a href="/file/safeguarding/regolamento_safeguarding_FSI.pdf">
            <i class="fa-solid fa-file-word fa-lg"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</page>
