<sidebar-item title="Sede e orari di gioco">
  <p>
    Ci ritroviamo a Pisa ogni giovedì sera dalle 21:30 alle 23:30 presso <a href="https://www.google.com/maps/place/Circolo+Scacchistico+%22La+Torre%22/@43.7204771,10.4158537,805m/data=!3m2!1e3!4b1!4m6!3m5!1s0x12d59100418af7cb:0x3f33e22cce31001d!8m2!3d43.7204771!4d10.4158537!16s%2Fg%2F11lf6kt7yr?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">la sala CTP 5 in largo Petrarca</a>.
  </p>
  <ul class="contact">
    <li class="icon solid fa-solid fa-envelope">
      <a href="mailto:info@scacchilatorre.it">info&#64;scacchilatorre.it</a>
    </li>
    <li class="icon solid fa-solid fa-phone">
      <a href="https://wa.me/+393207075700" target="_blank">3207075700</a> (WhatsApp Stefano)
    </li>
  </ul>
</sidebar-item>
