<section>
  <header class="main">
    <h2>Documenti</h2>
  </header>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Documento</th>
        <th>File</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Statuto</td>
        <td>
          <a href="/assets/file/statuto.pdf">
            <i class="fa-solid fa-file-pdf fa-lg"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Informativa trattamento dati personali</td>
        <td>
          <a href="/file/Informativa-trattamento-dati-personali.pdf">
            <i class="fa-solid fa-file-pdf fa-lg"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td>Domanda d'ammissione a socio</td>
        <td>
          <a href="https://docs.google.com/document/d/1h-YIFlamyatfNjbnnBmSi7lZBWP-4xqnaExU9LBF-_c/copy">
            <i class="fa-solid fa-file-word fa-lg"></i>
          </a>
          <a href="/file/Domanda-di-ammissione-a-socio.pdf">
            <i class="fa-solid fa-file-pdf fa-lg"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
