<!-- Section -->
<section>
  <header class="major">
    <h2>Ultime notizie</h2>
  </header>
  <div class="posts">
    <article>
      <!--            <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>-->
      <h3>Tesseramento FSI 2025</h3>
      <p>Parte il tesseramento FSI per il 2025 per disputare tornei e campionati.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <!--            <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>-->
      <h3>Chiusura sede giovedì 28 e venerdì 29</h3>
      <p>Giovedì 28 e venerdì 29 novembre la ex circoscrizione 5 rimarrà chiusa per lavori di ristrutturazione e pertanto il circolo sarà chiuso. Sarà nostra cura informarvi sulla riapertura.</p>
      <!--            <ul class="actions">-->
      <!--                <li><a href="#" class="button">More</a></li>-->
      <!--            </ul>-->
    </article>
    <article>
      <!--            <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>-->
      <h3>7° torneo weekend "Scacchi Sotto La Torre"</h3>
      <p>Sabato e domenica 2-3 novembre si è svolto, presso il circolo Arci Giacomo Matteotti di Riglione (Pisa), il 7° torneo weekend “Scacchi Sotto La Torre”. L’iniziativa è stata un grande successo con ben 95 ...</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <!--            <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>-->
      <h3>Torneo sociale rapid</h3>
      <p>Si è svolto venerdì 25 ottobre il primo torneo sociale Rapid del venerdì sera, con un’ottima partecipazione di ben 16 partecipanti. Vince il torneo Stefano Taglione con ben 5 punti su 5 partite. Secondo classificato ...</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <!--            <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>-->
      <h3>Riprendono i corsi di scacchi al circolo</h3>
      <p>A partire da sabato 12 Ottobre, presso il Centro Polivalente San Zeno, si terranno:</p>
      <ol>
        <li>Un corso per adulti principianti.</li>
        <li>Un corso per bambini principianti.</li>
        <li>Un corso per bambini di livello intermedio, che sanno già giocare e desiderano affinare la tecnica di gioco.</li>
      </ol>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <!--            <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>-->
      <h3>Campionato Regionale a Squadre under 18</h3>
      <p>Si è svolto domenica 15 settembre a Castiglione della Pescaia il Campionato Regionale a squadre under 18 a cui abbiamo partecipato con due squadre, una under 18 e una under 14. La squadra under 18, composta da ...</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
</section>

